<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <title>Issue Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id='init' class="nav-link" onclick="openTab(event,'projectIssues')">View issues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="openTab(event,'submitNewIssue')">Submit new issue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="openTab(event,'updateIssue')">Update issue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="openTab(event,'deleteIssue')">Delete issue</a>
            </li>
        </ul>
    </div>

    <div class='formContainer'>
        <div id="projectIssues" class="row issueOperation">
            <div class="col-4">
                <form id='issueViewer'>
                    <div class="mb-3">
                        <label for="projectName" class="form-label">Project name</label>
                        <input name='project' type="text" class="form-control" id="projectName" required>
                    </div>
                    <div class="searchForm">

                        <div class="mb-3">
                            <div class="form-check mb-3">
                                <input id='idSearchField' class="form-check-input" type="checkbox"
                                    onclick="toggle(event)">
                                <label class="form-check-label">
                                    Search by <b>issue ID</b> field
                                </label>
                            </div>
                            <div class='searchField idSearchField'>
                                <input id='_id' type="text" class="form-control">
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-check mb-3">
                                <input id='titleSearchField' class="form-check-input" type="checkbox"
                                    onclick="toggle(event)">
                                <label class="form-check-label">
                                    Search by <b>title</b> field
                                </label>
                            </div>
                            <div class='searchField titleSearchField'>
                                <input id='issue_title' type="text" class="form-control">
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-check mb-3">
                                <input id='createdBySearchField' class="form-check-input" type="checkbox"
                                    onclick="toggle(event)">
                                <label class="form-check-label">
                                    Search by <b>created by</b> field
                                </label>
                            </div>
                            <div class='searchField createdBySearchField'>
                                <input id='created_by' type="text" class="form-control">
                            </div>
                        </div>

                        <div class="mb-3">

                            <div class="form-check mb-3">
                                <input id='assignedToSearchField' class="form-check-input" type="checkbox"
                                    onclick="toggle(event)">
                                <label class="form-check-label">
                                    Search by <b>assign to</b> field
                                </label>
                            </div>
                            <div class='searchField assignedToSearchField'>
                                <input id='assigned_to' type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" id='ticket' name="ticket" checked>
                            <label class="form-check-label">
                                Opened ticket
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ticket">
                            <label class="form-check-label">
                                Closed ticket
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">View issues/Refresh</button>
                </form>

            </div>
            <div class="col-8">
                <ul id="issueCards">
                </ul>
            </div>
        </div>
    </div>



    <div class='formContainer'>
        <div id="submitNewIssue" class="row issueOperation">
            <div class="col-4">
                <form id='submitIssue'>
                    <div class="mb-3">
                        <label for="projectName" class="form-label">Project name</label>
                        <input name='project' type="text" class="form-control" id="projectName" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Issue title</label>
                        <input name='issue_title' type="text" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Issue text</label>
                        <input name='issue_text' type="text" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Created by</label>
                        <input name='created_by' type="text" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Assigned to</label>
                        <input name='assigned_to' type="text" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Status Text</label>
                        <textarea name='status_text' type="text" class="form-control" rows="2"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit new issue</button>
                </form>
            </div>
            <div class="col-8">
                <ul id="submittedIssue">
                </ul>
            </div>
        </div>
    </div>

    <div class='formContainer'>
        <div id="updateIssue" class="row issueOperation">
            <div class="col-4">
                <form id='updateForm'>
                    <div class="mb-3">
                        <label for="projectName" class="form-label">Project name</label>
                        <input name='project' type="text" class="form-control" id="projectNameUpdate" required>
                    </div>

                    <div class="mb-3">
                        <label for="issueID" class="form-label">IssueID</label>
                        <input name='_id' type="text" class="form-control" id="issueIDUpdate" required>
                    </div>
                    <div class=searchForm>

                        <div class="mb-3">
                            <div class="form-check mb-3">
                                <input id='issue_titleUpdateField' class="form-check-input" type="checkbox"
                                    onclick="toggle(event)">
                                <label class="form-check-label">
                                    Update <b>Issue title</b> field
                                </label>
                            </div>
                            <div class='searchField issue_titleUpdateField'>
                                <input id='issue_titleUpdate' type="text" class="form-control">
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-check mb-3">
                                <input id='issue_textUpdateField' class="form-check-input" type="checkbox"
                                    onclick="toggle(event)">
                                <label class="form-check-label">
                                    Update <b>Issue text</b> field
                                </label>
                            </div>
                            <div class='searchField issue_textUpdateField'>
                                <input id='issue_textUpdate' type="text" class="form-control">
                            </div>
                        </div>


                        <div class="mb-3">
                            <div class="form-check mb-3">
                                <input id='created_byUpdateField' class="form-check-input" type="checkbox"
                                    onclick="toggle(event)">
                                <label class="form-check-label">
                                    Update <b>Created by</b> field
                                </label>
                            </div>
                            <div class='searchField created_byUpdateField'>
                                <input id='created_byUpdate' type="text" class="form-control">
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-check mb-3">
                                <input id='assigned_toUpdateField' class="form-check-input" type="checkbox"
                                    onclick="toggle(event)">
                                <label class="form-check-label">
                                    Update <b>Assigned to</b> field
                                </label>
                            </div>
                            <div class='searchField assigned_toUpdateField'>
                                <input id='assigned_toUpdate' type="text" class="form-control">
                            </div>
                        </div>


                        <div class="mb-3">
                            <div class="form-check mb-3">
                                <input id='status_textUpdateField' class="form-check-input" type="checkbox"
                                    onclick="toggle(event)">
                                <label class="form-check-label">
                                    Update <b>Status Text</b> field
                                </label>
                            </div>
                            <div class='searchField status_textUpdateField'>
                                <textarea id='status_textUpdate' type="text" class="form-control"></textarea>
                            </div>
                        </div>



                        <div class="form-check mb-3">
                            <input name='open' class="form-check-input" type="checkbox" id="closeTicket">
                            <label class="form-check-label" for="disabledFieldsetCheck">
                                Close ticket
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Update issue</button>
                </form>
            </div>
            <div class="col-8">
                <ul id="updatedIssue">
                </ul>
            </div>
        </div>

        <div class='formContainer'>
            <form id="deleteIssue" class="issueOperation">
                <div class="mb-3">
                    <label for="projectName" class="form-label">Project name</label>
                    <input type="text" class="form-control" id="projectName" required>
                </div>

                <div class="mb-3">
                    <label for="projectName" class="form-label">IssueID</label>
                    <input type="text" class="form-control" id="projectName">
                </div>

                <button type="submit" class="btn btn-primary">Delete issue</button>

            </form>
        </div>

</body>
<script src="/public/client.js"></script>

</html>