/* Style the tab */
p {
  background-color: #f1f1f1;
}

.formContainer {
  margin: 20px;
}

.tabs {
  margin-top: 15px;
}

.searchForm {
  margin: 30px;
}

.col-8 {
  display: flex;
  justify-content: center;
  width: auto;
  height: 500px;
  overflow: auto;
  text-align:justify;

}

.card{
  width: 900px;
}
