/* Style the tab */

h2{
  padding: 8px;
}
p {
  background-color: #f1f1f1;
}

.formContainer {
  margin: 20px;
}

.tabs {
  margin-top: 15px;
}

.searchForm {
  margin: 20px;
}

.subUpdateForm {
  margin: 20px;
}

.rightCol {
  display: flex;
  justify-content: center;
  width: auto;
  height: 500px;
  overflow: auto;
  text-align: justify;
}

.leftCol {
  width: auto;
  height: 600px;
  overflow: auto;
}

.lists {
  margin: 10px;
}

/* Create an active/current tablink class */
.nav .nav-item .nav-link {
  color: rgb(94, 119, 231);
}
.nav .nav-item #view:hover {
  background-color: rgb(41, 101, 211);
  color: rgb(255, 255, 255);
  font-size: larger;
}
.nav .nav-item #view.active {
  background-color: rgb(255, 255, 255);
  color: rgb(41, 101, 211);
  font-size: larger;
  font-weight: 700;
}

.nav .nav-item #submit:hover {
  background-color: rgb(17, 153, 69);
  color: rgb(255, 255, 255);
  font-size: larger;
}
.nav .nav-item #submit.active {
  background-color: rgb(255, 255, 255);
  color: rgb(17, 153, 69);
  font-size: larger;
  font-weight: 700;
}

.nav .nav-item #update:hover {
  background-color: rgb(243, 228, 14);
  color: rgb(255, 255, 255);
  font-size: larger;
}
.nav .nav-item #update.active {
  background-color: rgb(255, 255, 255);
  color: rgb(243, 228, 14);
  font-size: larger;
  font-weight: 700;
}

.nav .nav-item #delete:hover {
  background-color: rgb(230, 38, 31);
  color: rgb(255, 255, 255);
  font-size: larger;
}
.nav .nav-item #delete.active {
  background-color: rgb(255, 255, 255);
  color: rgb(230, 38, 31);
  font-size: larger;
  font-weight: 700;
}
